################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EMAI.API/FileContentIndex
/EMAI.API/obj/Debug/net6.0/EMAI.API.AssemblyInfo.cs
