@model emai.Models.Libro

@{
    ViewData["Title"] = "ActivarLibro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambiosInactivo" asp-controller="Libro" method="post" class="needs-validation" novalidate>

            <div class="row">

                <input asp-for="IdLibro" type="hidden" />

                <div class="col-md-4 form-group">
                    <label class="form-label">NombreLibro</label>
                    <input type="text" class="form-control form-control-sa" asp-for="NombreLibro" name="NombreLibro" id="NombreLibro" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>

                <div class="col-md-4 form-group">
                    <label class="form-label">Descripción de Libro</label>
                    <input type="text" class="form-control form-control-sa" asp-for="DescripcionLibro" name="DescripcionLibro" id="DescripcionLibro" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>

                <div class="col-md-4 form-group">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control select2" style="width: 100%;" asp-for="Estado" name="Estado" id="Estado">
                            <option value="1">Activo</option>
                            <option value="0">Desactivo</option>


                        </select>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                    </div>
                </div>



                
                <div class="col-md-6 form-group">
                    <a asp-action="LibroInactivo" asp-controller="Libro" class="btn btn-warning btn-sm" style="width:100% !important">Volver a la vista </a>
                </div>
                <div class="col-md-6 form-group">
                    <button type="submit" class="btn btn-success btn-sm" ng-click="submitForm()" style="width:100% !important">Activar libro</button>
                </div>

            </div>
        </form>

    </div>
</div>

