@model List<Pago>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pagos</h3>
                        @* <a asp-action="agregarpago" asp-controller="Pago" asp-route-IdPago="0" class="btn btn-dark btn-sm" style="float: right !important">Nuevo Pago </a>*@
                    </div>

                    

                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <div class="form-group">

                                    <select class="form-control select2" style="width: 100%;" required>
                                        <option selected disabled value="">Seleccionar por mes</option>
                                        <option>Enero</option>
                                        <option>Febrero</option>
                                        <option>Marzo</option>
                                        <option>Abril</option>
                                        <option>Mayo</option>
                                        <option>Junio</option>
                                        <option>Julio</option>
                                        <option>Agosto</option>
                                        <option>Septiembre</option>
                                        <option>Octubre</option>
                                        <option>Noviembre</option>
                                        <option>Diciembre</option>


                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>

                                </div>
                            </div>



                            <div class="col-md-4 form-group">
                                <div class="form-group">

                                    <select class="form-control select2" style="width: 100%;" required>
                                        <option selected disabled value="">Seleccionar por alumno</option>
                                        <option>Alumno1</option>
                                        <option>Alumno1</option>
                                        <option>Alumno1</option>
                                        <option>Alumno1</option>
                                        <option>Alumno1</option>
                                        <option>Alumno1</option>


                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>

                                </div>
                            </div>

                            <div class="col-md-4 form-group">
                                <a class="btn btn-dark btn-sm">Buscar </a>
                            </div>

                        </div>


                        <table id="example1" class="table table-bordered table-hover table-responsive">



                            <thead>
                                <tr>
                                    <th>IdPago</th>
                                    <th>Nombre del Alumno</th>
                                    <th>IdClase</th>
                                    <th>Clase</th>
                                    <th>Fecha</th>
                                    <th>Mes deudor</th>
                                    <th>Horario</th>
                                    <th>Día</th>
                                    <th>Teléfono</th>
                                    <th>Saldo pendiente</th>
                                    <th>IdRecepcionista</th>
                                    <th>Autorizacion</th>
                                    <th>Costo</th>
                                    <th>Subtotal</th>
                                    <th>IVA</th>
                                    <th>Total</th>
                                    <th>Pagar</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    <td> <a href="@Url.Action("agregarpago", "Pago")" class="btn btn-primary btn-sm">Pagar </a></td>
                                      
                                      
                                    </tr>
                                
                            </tbody>
                      
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


