@model Maestro

@{
    ViewData["Title"] = "Agreagar Clase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Maestro" method="post" class="needs-validation" novalidate>


            <div class="row">
                  
         
            <input asp-for="IdMaestro" type="hidden" />

                <div class="col-md-4 form-group">
                    <label class="form-label" for="Nombre">Nombre</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Nombre" name="Nombre" id="Nombre" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                    <label class="form-label" for="ApellidoP">Apellido Paterno</label>
                    <input type="text" class="form-control form-control-sa" asp-for="ApellidoP" name="ApellidoP" id="ApellidoP" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                    <label class="form-label" for="ApellidoM">Apellido Materno</label>
                    <input type="text" class="form-control form-control-sa" asp-for="ApellidoM" name="ApellidoM" id="ApellidoM" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                    <label class="form-label" for="Direccion">Dirección</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Direccion" name="Direccion" id="Direccion" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>



                <div class="col-md-4 form-group">
                    <label class="form-label" for="Telefono">Teléfono</label>
                    <input type="text" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="Telefono" name="Telefono" id="Telefono" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>



                <div class="col-md-4 form-group">
                    <label class="form-label" for="FechaNacimiento">Fecha de Nacimiento</label>
                    <input type="text" class="form-control form-control-sa" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask asp-for="FechaNacimiento" name="FechaNacimiento" id="FechaNacimiento" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>
            

                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label for="StatusSeleccionado">Status</label>
                        <select class="form-control  select2-hidden-accessible" style="width: 100%;" asp-for="StatusSeleccionado" name="StatusSeleccionado" id="Status" required>
                            <option selected disabled value="">Escoger el Status</option>
                            <option value="Base">Base</option>
                            <option value="Suplente">Suplente</option>
                        </select>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                    </div>
                    
                </div>



           <div class="mb-2">
                    <label class="form-label" for="Pago">Pago</label>
                <input type="text" class="form-control form-control-sa" asp-for="Pago" />
            </div>


                <div class="col-md-6 form-group">
                    <button type="submit" class="btn btn-success btn-sm" ng-click="submitForm()" style="width:100% !important">Guardar Cambios</button>
                </div>

                <div class="col-md-6 form-group">
                <a asp-action="Maestro" asp-controller="Maestro" class="btn btn-warning btn-sm" style="width:100% !important">Volver a la vista </a>
                </div>

            </div>

        </form>



        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (() => {
                'use strict';

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation');

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms).forEach((form) => {
                    form.addEventListener('submit', (event) => {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            })();
        </script>


    </div>
</div>


