@model Maestro

@{
    ViewData["Title"] = "agregarmaestro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Maestro" method="post" class="was-validated">


            <div class="row">
                  
         
            <input asp-for="IdMaestro" type="hidden" />

                <div class="col-md-4 form-group">
                <label class="form-label">Nombre</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Nombre" name="Nombre" id="Nombre" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                <label class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control form-control-sa" asp-for="ApellidoP" name="ApellidoP" id="ApellidoP" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                <label class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control form-control-sa" asp-for="ApellidoM" name="ApellidoM" id="ApellidoM" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>


                <div class="col-md-4 form-group">
                <label class="form-label">Dirección</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Direccion" name="Direccion" id="Direccion" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>



                <div class="col-md-4 form-group">
                <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="Telefono" name="Telefono" id="Telefono" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>



                <div class="col-md-4 form-group">
                <label class="form-label">Fecha de Nacimiento</label>
                    <input type="text" class="form-control form-control-sa" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask asp-for="FechaNacimiento" name="FechaNacimiento" id="FechaNacimiento" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>



              @*  <div class="col-md-4 form-group">
                <label class="form-label">Id Clase</label>
                    <input type="text" class="form-control form-control-sa" asp-for="IdClase" name="IdClase" id="IdClase" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>*@


                @*<div class="col-md-4 form-group">
                <label class="form-label">Id Horario</label>
                    <input type="text" class="form-control form-control-sa" asp-for="IdHorario" name="IdHorario" id="IdHorario" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>*@


                @*<div class="col-md-4 form-group">
                <label class="form-label">Id Alumno</label>
                    <input type="text" class="form-control form-control-sa" asp-for="IdAlumno" name="IdAlumno" id="IdAlumno" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>*@


              @*  <div class="col-md-4 form-group">
                <label class="form-label">Status</label>
                <input type="text" class="form-control form-control-sa" asp-for="Status" />
            </div>
*@

            

                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>Status</label>
                        <select  class="form-control  select2-hidden-accessible"  style="width: 100%;" asp-for="Status" name="Status" id="Status" required>
                            <option selected disabled value="">Escoger el Status</option>
                            <option value="Base">Base</option>
                            <option value="Suplente">Suplente</option>
                        </select>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                    </div>
                    
                </div>



               @* <div class="col-md-4 form-group">
                <label class="form-label">Base</label>
                <input type="text" class="form-control form-control-sa" asp-for="Base" />
            </div>



            <div class="mb-2">
                <label class="form-label">Suplente</label>
                <input type="text" class="form-control form-control-sa" asp-for="Suplente" />
            </div>*@



           <div class="mb-2">
                <label class="form-label">Pago</label>
                <input type="text" class="form-control form-control-sa" asp-for="Pago" />
            </div>


                <div class="col-md-6 form-group">
                <button type="submit" class="btn btn-success btn-sm" ng-click="submitForm()" style="width:100% !important">Guardar Cambios</button>
                </div>
                <div class="col-md-6 form-group">
                <a asp-action="Maestro" asp-controller="Maestro" class="btn btn-warning btn-sm" style="width:100% !important">Volver a la vista </a>
                </div>

            </div>

        </form>

        @*<a asp-action="agregarusuario" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-primary btn-sm">Nuevo Usuario </a>*@




    </div>
</div>
