

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Programa 5S</h3>
                        <a href="@Url.Action("Programa5s", "Programa")" class="btn btn-dark btn-sm" style="float: right !important">Registro</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">




                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Area</th>
                                    <th>Fecha de antes</th>
                                    <th>Fecha de inicio</th>
                                    <th>Supervisor</th>
                                    <th>Imagen de antes</th>
                                    <th>Imagen despues</th>
                                   
                                </tr>
                            </thead>
                            <tbody>

                       
                                
                                    <tr>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                 
                                       
                                    </tr>
                               
                            </tbody>
                  
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

