@model Alumnos


@{
    ViewData["Title"] = "Agregar Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body" ng-controller="myCtrl">

        <form asp-action="GuardarCambios" asp-controller="Alumnos" method="post" class="was-validated" novalidate>

            <input asp-for="IdClase" type="hidden" />


            <div class="row">

                @*interes Hobby *@
                <div class="col-md-12 form-group ">
                    <label class="form-label" for="InteresHobby">Selecciona: ¿Cuál es tu interés en aprender un instrumento musical?</label>
                    @* <input type="text" class="form-control form-control-sa" asp-for="InteresGnroMusical" name="interesmusical" id="interesmusical" required />*@
                    <br /><br />
                    <div class="radio-container">
                        <label><input type="radio" name="column1"> Hobby</label>
                        <label><input type="radio" name="column2"> Formar un grupo musical</label>
                        <label><input type="radio" name="column3"> Ser profesional</label>
                        <label><input type="radio" name="column4"> Inquietud</label>
                        <label><input type="radio" name="column5"> Porque tus papás quieren mejorar técnica</label>
                        <label><input type="radio" name="column6"> Pasar el rato</label>
                        <label><input type="radio" name="column7"> Otro</label>
                    </div>
                  


                </div>

                @*Otro *@
                <div class="col-md-12 form-group">
                    <label class="form-label" for="instrumentos">¿Algun otro interés musical?</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Otro" id="Otro" name="Otro" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>

                @*Clase Opcionales*@
                <div class="col-md-12 form-group">
                    <label class="form-label" for="claseopcional">¿La persona que lo atendió le mencionó las clases opcionales?</label>
                    @*<input type="text" class="form-control form-control-sa" asp-for="ClaseOpcional" id="claseopcional" name="claseopcional" required />*@

                    <br /><br />
                    <div class="radio-container">
                        <label><input type="radio" name="column1"> Sí</label>
                        <label><input type="radio" name="column2"> No</label>
                        
                    </div>


                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                </div>


                @*Pago Puntual*@
                <div class="col-md-12 form-group">
                    <label class="form-label" for="descuento">¿La persona que lo atendió te mencionó sobre el descuento en pago puntual </label>
                    @*<input type="date" class="form-control form-control-sa" asp-for="DescuentoP" id="descuento" name="descuento" required />*@

                    <br /><br />
                    <div class="radio-container">
                        <label><input type="radio" name="column1"> Sí</label>
                        <label><input type="radio" name="column2"> No</label>

                    </div>

                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>

                @*Amable*@
                <div class="col-md-12 form-group">
                    <label class="form-label" for="amable">¿La persona que le atendió fue amable contigo?</label>
                    @*<input type="date" class="form-control form-control-sa" asp-for="amable" id="amable" name="amable" required />*@
                    <br /><br />
                    <div class="radio-container">
                        <label><input type="radio" name="column1"> Sí</label>
                        <label><input type="radio" name="column2"> No</label>

                    </div>
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>


                @*Nombre recepcion*@
                <div class="col-md-12 form-group">
                    <label class="form-label" for="nombrerecepcionista">¿Quién la atendió?</label>
                    <input type="text" class="form-control form-control-sa" asp-for="amable" id="amable" name="amable" required />

                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>
                
                @*Botones de guardar*@
                <div class="col-md-6 form-group">

                    <a asp-action="" asp-controller="Alumnos" class="btn btn-success" style="width:100% !important">Siguiente</a>

                </div>

                <div class="col-md-6 form-group">
                    <a asp-action="" asp-controller="Alumnos" class="btn btn-warning" style="width:100% !important">Cancelar</a>
                </div>
            </div>
        </form>

        @*<a asp-action="agregarusuario" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-primary btn-sm">Nuevo Usuario </a>*@
    </div>
</div>
