@model Alumnos


@{
    ViewData["Title"] = "Agregar Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Registrar Alumno</h3>
            </div>
        <div class="card-body p-0" ng-controller="myCtrl">
                <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->
                        <div class="step" data-target="#logins-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Registro</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#information-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Padres</span>
                            </button>
                        </div>
                    <div class="line"></div>
                    <div class="step" data-target="#estudios-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Estudios</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#instrumento-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">4</span>
                            <span class="bs-stepper-label">Instrumento</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#interes-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">5</span>
                            <span class="bs-stepper-label">Interes</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#pagos-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">6</span>
                            <span class="bs-stepper-label">Pagar</span>
                        </button>
                    </div>
                    </div>
                    <div class="bs-stepper-content">
                    <form asp-action="agregaralumnos" asp-controller="Alumnos" method="post" class="needs-validation" novalidate>

                        <!-- your steps content here -->
                        <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                       

                            @* <input asp-for="IdClase" type="hidden" /> *@

                            <div class="row">

                                @*FechaInscripcion*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="FechaInscripcion">Fecha Inscripción</label>
                                    <input type="date" class="form-control form-control-sa" asp-for="FechaInscripcion" name="FechaInscripcion" id="FechaInscripcion" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Tag de Registro*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Tag">Tag de Registro</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Tag" id="Tag" name="Tag" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Dia de Clases*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NoDiaClases">No. de Dia de Clases</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="NoDiaClases" id="NoDiaClases" name="No.DiaClases" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                @*Fecha Inicio de Clase Gratis*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="FechaInicioClase">Fecha de clase inicio</label>
                                    <input type="date" class="form-control form-control-sa" asp-for="FechaInicioClase" id="FechaInicioClase" name="FechaInicioClaseGratis" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Fecha Fin de Clase Gratis*@
                          @*       <div class="col-md-3 form-group">
                                    <label class="form-label" for="FechaInicioClase">Fecha de clase final</label>
                                    <input type="date" class="form-control form-control-sa" asp-for="FechaFinClaseGratis" id="FechaFinClase" name="FechaFinClaseGratis" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div> *@


                                @*Instumento Base*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="InstrumentoBase">Instrumento Base</label>
                                    <input type="int" class="form-control form-control-sa" asp-for="SeleccionarClase1" id="SeleccionarClase1" name="Instrumento Base" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Dia de clase*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="dia">Dia y Hora de clase</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sa" asp-for="DiaAndHoraClase" id="DiaAndHoraClase" name="dias" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>

                                </div>


                                @*Hora de clase*@
                           @*      <div class="col-md-3 form-group">
                                    <label class="form-label" for="hora">Hora de Clase</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sa" asp-for="horaOpcional" id="hora" name="hora" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>

                                </div> *@

                                @*Instrumento Opcional*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="instrumentoopcional">Instrumento Opcional</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-sa" asp-for="SeleccionarClase2" id="SeleccionarClase2" name="instrumentoopcional" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>

                                </div>


                                @*Dia Opcional*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="diaopcional">Dia y hora Opcional</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sa" asp-for="DiaAndHoraClaseOpcional" id="DiaAndHoraClaseOpcional" name="diaopcional" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>

                                </div>

                                @*Hora Opcional*@
                            @*     <div class="col-md-3 form-group">
                                    <label class="form-label" for="HoraOpcional">Hora Opcional</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sa" asp-for="horaOpcional" id="HoraOpcional" name="HoraOpcional" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>

                                </div> *@



                                @*Nombre Completo*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NombreCompleto">Nombre Completo del Alumno</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sa" asp-for="NombreCompleto" id="NombreCompleto" name="NombreCompleto" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>

                                @*Edad del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="NombreCompleto">Edad del Alumno</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-sa" asp-for="Edad" id="Edad" name="Edad" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>

                                @*Fecha Nacimiento del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="FechaNacimiento">Fecha de Nacimiento del Alumno</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control form-control-sa" asp-for="FechaNacimiento" id="FechaNacimiento" required />
                                        <div class="valid-feedback">Válido.</div>
                                        <div class="invalid-feedback">Por favor rellene este campo.</div>
                                    </div>
                                </div>


                                @*Telefono del alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Telefono">Teléfono de Casa</label>
                                    <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="TelefonoCasa" id="TelefonoCasa" name="TelefonoCasa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese un numero Telefónico.</div>
                                </div>

                                @*Celular del alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Telefono">Celular</label>
                                    <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="Celular" id="Celular" name="Celular" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese un numero Telefónico (Celular).</div>
                                </div>

                                @*Facebook del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Facebook">Facebook</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Facebook" id="Facebook" name="Facebook" placeholder="URL o Nombre" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese Facebook.</div>
                                </div>

                                @*Email del Alumno*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Email">Email del Alumno</label>
                                    <input type="email" class="form-control form-control-sa" asp-for="Email" id="Email" name="Email" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese Email.</div>
                                </div>

                                @*Enfermedades*@
                                <div class="col-md-3 form-group">
                                    <label class="form-label" for="Enfermedades">Enfermedad / Alergias discapacidad</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Enfermedades" id="Enfermedades" name="Enfermedades" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Ingrese Enfermedad.</div>
                                </div>

                                @*Botones de guardar*@
                                <div class="col-md-12 form-group">

                                    <a  class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>

                                </div>  
                            </div>
          </div>






                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                            <div class="row">
                            @*Nombre del Papa o mama*@
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="NombrePapas">Nombre de mamá y/o papá</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="NombrePapas" name="NombrePapas" id="NombrePapas" required />
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>

                            @*Celular del papa *@
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="celular">Celular</label>
                                    <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="CelularPapas" id="CelularPapas" name="CelularPapas" required />
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>


                            @*Facebook del papa*@
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="facebook">Facebook papá o mamá</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="FacebookPapas" id="FacebookPapas" name="FacebookPapas" required />
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>

                            @*Email del papa *@
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="email">Email</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="EmailPapas" id="EmailPapas" name="EmailPapas" required />
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo..</div>
                            </div>

                            @*Nombre del tutor a recoger*@
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="NombreTR">Nombre de la persona que recogerá al niño</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="TutorRecoger" id="TutorRecoger" name="TutorRecoger" required />
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>

                            @*Celular del alumno*@
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="Celular">Celular persona que recoge al niño</label>
                                    <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="CelularTR" id="CelularTR" name="CelularTR" required />
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>


                            @*Numero de Emergencia*@
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="NumEmergencia">Número de Emergencia</label>
                                    <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="NumEmergencia" id="NumEmergencia" name="NumEmergencia" required />
                                <div class="valid-feedback">Válido.</div>
                                <div class="invalid-feedback">Por favor rellene este campo.</div>
                            </div>


                                @*Botones de guardar*@
                                <div class="col-md-6 form-group">
                                <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                 <div class="col-md-6 form-group">
                                 <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>

                            </div>
                           </div>



                        <div id="estudios-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                        <div class="row">
                                @*Estudios*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="Estudios">¿Actualmente estudias?</label>
                                    @*<input type="text" class="form-control form-control-sa" asp-for="Estudios" name="estudios" id="estudios" required /> *@
                                    <select class="form-control  select2" asp-for="Estudios" name="Estudios" id="Estudios" required>
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="1">Sí</option>
                                        <option value="0">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Grado de Estudios*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="gradoEstudios">Grado de estudios</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="GradoEstudios" id="GradoEstudios" name="GradoEstudios" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Nombre de la Escuela *@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="nombreEscuela">Nombre de la Escuela</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="EscuelaActuales" id="EscuelaActuales" name="EscuelaActuales" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                @*Trabajas*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="trabajas">¿Actualmente Trabajas?</label>
                                    @*<input type="text" class="form-control form-control-sa" asp-for="Trabajas" id="trabajas" name="trabajas" required />*@
                                    <select class="form-control  select2" asp-for="Trabajas" id="Trabajas" name="Trabajas" required>
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="1">Sí</option>
                                        <option value="0">No</option>
                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Lugar de Trabajo*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="LugarTrabajo">Lugar de Trabajo</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="LugarTrabajo" id="LugarTrabajo" name="LugarTrabajo" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Botones de guardar*@
                                <div class="col-md-6 form-group">
                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                <div class="col-md-6 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>

                        </div>
 </div>






                        <div id="instrumento-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                           
                            <div class="row">
                                @*Conocimientos Musicales*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="conocimientomusicales">¿Cúentas con algún conocimiento musical?</label>
                                    @*<input type="text" class="form-control form-control-sa" asp-for="ConActual" name="conocimientomusicales" id="conocimientosmusicales" required />*@
                                    <select class="form-control  select2" asp-for="ConConocimiento" name="ConConocimiento" id="ConConocimiento" required>
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="1">Sí</option>
                                        <option value="0">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Instrumentos *@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="instrumentos">En que instrumentos</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Instrumento" id="Instrumento" name="Instrumento" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Instrumento Casa *@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="instrumentocasa">¿Cuentas con un Instrumento en Casa?</label>
                                    @*<input type="text" class="form-control form-control-sa" asp-for="InstrumentoCasa" id="instrumentocasa" name="instrumentocasa" required />*@
                                    <select class="form-control  select2" asp-for="InstrumentoCasa" id="InstrumentoCasa" name="InstrumentoCasa" required>
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="1">Sí</option>
                                        <option value="0">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                @*Que instrumento tiene en casa*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="Instrumento">Que instrumento (s)</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="InstrumentotTwo" id="InstrumentotTwo" name="InstrumentotTwo" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Enteraste Escuela*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="enterasteescuela">¿Cómo te enteraste de EMAI?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="EnterasteEsc" id="EnterasteEsc" name="EnterasteEsc" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Interes musical*@
                                <div class="col-md-4 form-group">
                                    <label class="form-label" for="InteresGnroMusical">¿Tienes algun género en especial?</label>
                                    @*<input type="date" class="form-control form-control-sa" asp-for="InteresGnroMusical" id="interesmusical" name="interesmusical" required />*@
                                    <select class="form-control  select2" asp-for="InteresGnroMusical" id="InteresGnroMusical" name="InteresGnroMusical" required>
                                        <option selected="" disabled="" value="">Seleccionar</option>
                                        <option value="1">Sí</option>
                                        <option value="0">No</option>
                                    </select>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>
                                @*Cuales musicales*@
                                <div class="col-md-4 form-group" style="display:none;" id="DivCampoMusical">
                                    <label class="form-label" for="CualesMusicales">¿Cuales Musicales?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="CualesMusicales" id="CualesMusicales" name="CualesMusicales" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>
                                <script>
                                    @*https://es.stackoverflow.com/questions/445432/c%C3%B3mo-mostrar-y-ocultar-input-de-un-select-con-javascript*@

                                        document.getElementById("InteresGnroMusical").addEventListener("change", function () {
                                        var divAOcultar = document.getElementById("DivCampoMusical");
                                        var valueSelect = this.value;
                                            if (valueSelect === "1") {
                                            divAOcultar.style.display = "block";
                                        } else {
                                            divAOcultar.style.display = "none";
                                        }
                                    });

                                </script>

                                @*Botones de guardar*@
                                <div class="col-md-6 form-group">
                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                <div class="col-md-6 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>
                            </div>
                         </div>




                        <div id="interes-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                         <div class="row">
                                @*interes Hobby *@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="InteresHobby">Selecciona: ¿Cuál es tu interés en aprender un instrumento musical?</label>
                                    <br /><br />
                                    <div class="radio-container">
                                        <label for="hobby"><input type="radio" asp-for="TipoInteres" name="InteresMusical" value="Hobby" id="hobby"> Hobby</label>
                                        <label for="formarGrupo"><input type="radio" asp-for="TipoInteres" name="InteresMusical" value="Formar un grupo musical" id="formarGrupo"> Formar un grupo musical</label>
                                        <label for="serProfesional"><input type="radio" asp-for="TipoInteres" name="InteresMusical" value="Ser profesional" id="serProfesional"> Ser profesional</label>
                                        <label for="inquietud"><input type="radio" asp-for="TipoInteres" name="InteresMusical" value="Inquietud" id="inquietud"> Inquietud</label>
                                        <label for="mejoraTecnica"><input type="radio" asp-for="TipoInteres" name="InteresMusical" value="Porque tus papás quieren mejorar técnica" id="mejoraTecnica"> Porque tus papás quieren mejorar técnica</label>
                                        <label for="pasarRato"><input type="radio" asp-for="TipoInteres" name="InteresMusical" value="Pasar el rato" id="pasarRato"> Pasar el rato</label>
                                        <label for="otro"><input type="radio" asp-for="TipoInteres" name="InteresMusical" value="Otro" id="otro"> Otro</label>
                                    </div>
                                </div>
                                @*Otra intreres*@
                                <div class="col-md-4 form-group" style="display:none;" id="OtroInteresV1">
                                    <label class="form-label" for="Mencionelo</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="OtroOpcional" id="OtroOpcional" name="OtroOpcional" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>
                                <script>
                                    var otroInteresV1 = document.getElementById("OtroInteresV1");
                                    var radiosInteresMusical = document.querySelectorAll('input[name="InteresMusical"]');

                                    radiosInteresMusical.forEach(function (radio) {
                                        radio.addEventListener("change", function () {
                                            if (this.value === "Otro") {
                                                otroInteresV1.style.display = "block";
                                            } else {
                                                otroInteresV1.style.display = "none";
                                            }
                                        });
                                    });


                                </script>
                                @*Otro musicales *@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="MusicalInteres">¿Algun otro interés musical?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="MusicalInteres" id="MusicalInteres" name="MusicalInteres" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Clase Opcionales*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="ClaseOpcional">¿La persona que lo atendió le mencionó las clases opcionales?</label>
                                    <br /><br />
                                    <div class="radio-container">
                                        <label for="opcionSi">
                                            <input type="radio" name="ClaseOpcional" asp-for="ClaseOpcional" value="1" id="opcionSi" required> Sí
                                        </label>
                                        <label for="opcionNo">
                                            <input type="radio" name="ClaseOpcional" asp-for="ClaseOpcional" value="0" id="opcionNo" required> No
                                        </label>
                                    </div>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>



                                @*Pago Puntual*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="DescuentoP">¿La persona que lo atendió te mencionó sobre el descuento en pago puntual?</label>
                                    <br /><br />
                                    <div class="radio-container">
                                        <label><input type="radio" name="DescuentoP" asp-for="DescuentoP" value="1" required> Sí</label>
                                        <label><input type="radio" name="DescuentoP" asp-for="DescuentoP" value="0"> No</label>
                                    </div>

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Amable*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="Amables">¿La persona que le atendió fue amable contigo?</label>
                                    @*<input type="date" class="form-control form-control-sa" asp-for="amable" id="amable" name="amable" required />*@
                                    <br /><br />
                                    <div class="radio-container">       
                                         <label><input type="radio" name="Amables" asp-for="Amables" value="1" required> Sí</label>
                                         <label><input type="radio" name="Amables" asp-for="Amables" value="0" required> No</label>
                                      
                                    </div>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                @*Nombre recepcion*@
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="NombreRecepcionista">¿Quién la atendió?</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="NombreRecepcionista" id="NombreRecepcionista" name="NombreRecepcionista" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                                @*Botones de guardar*@
                                <div class="col-md-6 form-group">
                                    <a class="btn btn-success" style="width:100% !important" onclick="stepper.next()">Siguiente</a>
                                </div>

                                <div class="col-md-6 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>

                         </div>
                        </div>



                        <div id="pagos-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                          
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="form-label">Folio</label>
                                    <input type="text" class="form-control form-control-sa" asp-for="Folio" id="Folio" name="Folio" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Fecha</labelFechaPago
                                    <input type="date" class="form-control form-control-sa" asp-for="FechaPago" id="Folio" name="FechaPago" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                            @*     <div class="col-md-6 form-group">
                                    <label class="form-label">fecha de pago</label>
                                    <input type="date" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">válido.</div>
                                    <div class="invalid-feedback">por favor rellene este campo..</div>
                                </div> *@

                            @*     <div class="col-md-6 form-group">
                                    <label class="form-label">SaldoPendiente</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div> *@

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Promoción</label>
                                    <input type="number" class="form-control form-control-sa" asp-for="IdPromosion" id="IdPromosion" name="IdPromosion" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label class="form-label">Mes</label>
                                    <input type="num" class="form-control form-control-sa" asp-for="IdMes" id="IdMes" name="IdMes" required />

@*                                     <select class="form-control select2" asp-for="IdClase" required>
                                        <option selected disabled value="">Escoger una clase</option>
                                        @foreach (var meses in Model.ListarMeses)
                                        {
                                            <option value="@meses.IdMeses">@meses.NombreMes</option>
                                        }
                                    </select> *@

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label class="form-label">Clase opcional</label>
                                    <input type="text" class="form-control form-control-sa"  required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Horario</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Día</label>
                                    <input type="text" class="form-control form-control-sa"  required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Instrumento</label>
                                    <input type="text" class="form-control form-control-sa" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Costo de libro</label>
                                    <input type="number" step="any" class="form-control form-control-sa" asp-for="CostoLibro" id="CostoLibro" name="CostoLibro" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">¿Qué libro fue?</label>
                                    @* <input type="text" class="form-control form-control-sa" required /> *@
                                    <input type="text" class="form-control form-control-sa" asp-for="NombreLibro" id="NombreLibro" name="NombreLibro" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label class="form-label">Atendio</label>
                                    @* <input type="text" class="form-control form-control-sa"  required />+ *@
                                    <input type="text" class="form-control form-control-sa" asp-for="Atendio" id="Atendio" name="Atendio" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Inscripción</label>
                                   @*  <input type="text" class="form-control form-control-sa" required id="Inscripcion"/> *@
                                    <input type="number" step="any" class="form-control form-control-sa" asp-for="Inscripcion" id="Inscripcion" name="Inscripcion" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Mensualidad</label>
                                   @*  <input type="text" class="form-control form-control-sa" required id="Mensualidad"/> *@
                                    <input type="number" step="any" class="form-control form-control-sa" asp-for="Mensualidad" id="Mensualidad" name="Mensualidad" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>



                                <div class="col-md-3 form-group">
                                    <label class="form-label">Costo</label>
                                    @* <input type="text" class="form-control form-control-sa"  required id="Costo" /> *@
                                    <input type="number" step="any" class="form-control form-control-sa" asp-for="Costo" id="Costo" name="Costo" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                <div class="col-md-3 form-group">
                                    <label class="form-label">SubTotal</label>
                                    @* <input type="text" class="form-control form-control-sa" required /> *@
                                    <input type="number" step="any" class="form-control form-control-sa" asp-for="Subtotal" id="Subtotal" name="Subtotal" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label class="form-label">Iva</label>
                                    @* <input type="text" class="form-control form-control-sa" required id="IVA" /> *@
                                    <input type="number" step="any" class="form-control form-control-sa" asp-for="IVA" id="IVA" name="IVA" required />

                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label class="form-label">Total</label>
                                  @*   <input type="text" class="form-control form-control-sa" required id="Total" /> *@
                                    <input type="number" step="any" class="form-control form-control-sa" asp-for="Total" id="Total" name="Total" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-success" style="width:100% !important">Guardar y pagar</button>
                                </div>
                                <div class="col-md-12 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>1
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        
        </div>
        <!-- /.card -->
    </div>



@section Scripts {
@*     <script>
        $(document).ready(function () {
            // asignacion de la casilla 
            $("#Costo").keyup(function () {
                calcularTotales();
            });

            // obtenciom de la inscripcion 
            $("#Inscripcion").keyup(function () {
                calcularTotales();
            });

            // obtension de mensualidad
            $("#Mensualidad").keyup(function () {
                calcularTotales();
            });

            // obtension de IVA
            $("#IVA").keyup(function () {
                calcularTotales();
            });



            // Funcion para calcular 
            function calcularTotales() {
                
                var inscripcion = parseFloat($("#Inscripcion").val());
                var mensualidad = parseFloat($("#Mensualidad").val());
                var IVA = parseFloat($("#IVA").val());


                var Subtotal = inscripcion + mensualidad;
                var total = Subtotal * IVA / 100 + Subtotal;

                $("#Costo").val(Subtotal.toFixed(2));
                $("#Total").val(total.toFixed(2));
            }

            // Initial call to calculate totals on page load
            calcularTotales();
        });
    </script> *@
}




<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
            form.addEventListener('submit', (event) => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>