@model Alumnos


@{
    ViewData["Title"] = "Agregar Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body" ng-controller="myCtrl">

        <form asp-action="GuardarCambios" asp-controller="Alumnos" method="post" class="needs-validation" novalidate>

            <input asp-for="IdClase" type="hidden" />


          <div class="row">

                @*IDClase*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="IDClase">IDClase</label>
                    <input type="text" class="form-control form-control-sa" asp-for="IdClase" name="IdAlumno" id="Alumno" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>

                @*Fecha inscripcion*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="FechaInscripcion">Fecha de Inscripción</label>
                    <input type="date" class="form-control form-control-sa" asp-for="FechaInscripcion" id="FechaInscripcion" name="tag" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese Fecha.</div>
                </div>

                @*Tag de Registro*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="Tag">Tag de Registro</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Tag" id="tag" name="tag" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese el Tag.</div>
                </div>

                @*Dia de Clases*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="NoDiaClases">No. de Dia de Clases</label>
                    <input type="text" class="form-control form-control-sa" asp-for="NoDiaClases" id="NoDiaClases" name="No.DiaClases" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese No. Dia de Clases.</div>
                </div>


                @*Fecha Inicio de Clase Gratis*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="FechaInicioClase">FechaInicioClaseGratis</label>
                    <input type="date" class="form-control form-control-sa" asp-for="FechaInicioClaseGratis" id="FechaInicioClase" name="FechaInicioClaseGratis" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese Fecha Inicio de Clase Gratis.</div>
                </div>


                @*Fecha Fin de Clase Gratis*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="fechaFinInicioClase">Fecha Fin de Clase Gratis</label>
                    <div class="input-group">
                        <input type="date" class="form-control form-control-sa" asp-for="FechaFinClaseGratis" min="8" id="fechaFinClase" name="fechaFin" required />
                        <div class="input-group-append">
                            @* <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>*@
                        </div>
                    </div>

                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese Fecha Fin de Clase.</div>
                </div>

                @*Nombre del Alumno*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="nombre">Nombre</label>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sa" asp-for="Nombre" min="8" id="nombre" name="nombre" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese un Nombre.</div>
                    </div>

                </div>

                
                 @*Apellido Paterno del Alumno*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Tag">Apellido Paterno</label>
                        <input type="text" class="form-control form-control-sa" asp-for="ApPaterno" id="appaterno" name="appaterno" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Apellido Paterno.</div>
                 </div>

                 @*Apellido Materno del Alumno*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Tag">Apellido Materno</label>
                        <input type="text" class="form-control form-control-sa" asp-for="ApMaterno" id="apmaterno" name="apmaterno" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Apellido Materno.</div>
                 </div>

                 
                 @*Edad del Alumno*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Edad">Edad</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Edad" id="edad" name="edad" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Edad.</div>
                 </div>

                 @*Fecha de Nacimiento*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="FechaNacimiento">Fecha Nacimiento</label>
                        <input type="date" class="form-control form-control-sa" asp-for="FechaNacimiento" id="fechaNacimiento" name="FechaNacimiento" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Fecha Nacimiento.</div>
                 </div>

                 @*Telefono*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Telefono">Teléfono de Casa</label>
                        <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="telefono" id="telefono" name="telefono" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese un numero Telefónico.</div>
                 </div>

                 @*Celular*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Telefono">Celular</label>
                        <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="Celular" id="telefono" name="telefono" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese un numero Telefónico (Celular).</div>
                 </div>

                 @*Facebook del Alumno*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Facebook">Facebook</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Facebook" id="facebook" name="facebook" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Fecha Nacimiento.</div>
                 </div>

                 @*Email del Alumno*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Email">Email del Alumno</label>
                        <input type="email" class="form-control form-control-sa" asp-for="Email" id="email" name="email" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Email.</div>
                 </div>

                 @*Enfermedades*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Enfermedades">Enfermedad</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Enfermedades" id="enfermedad" name="enfermedad" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Enfermedad.</div>
                 </div>
                 
                 @*Discapacidad*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Discapacidad">Discapacidad</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Discapacidad" id="discapacidad" name="discapacidad" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Discapacidad.</div>
                 </div>

                 @*Instumento Base*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="InstrumentoBase">Instrumento Base</label>
                        <input type="text" class="form-control form-control-sa" asp-for="InstrumentoBase" id="instrumento" name="instrumento" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Instrumento Base.</div>
                 </div>

                 @*Dia*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="instrumento">Dia</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Dia" id="Dia" name="dia" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Dia.</div>
                 </div>
                 
                 @*Instumento Opcional*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="instrumentoOpcional">Instrumento Opcional</label>
                        <input type="text" class="form-control form-control-sa" asp-for="InstrumentoOpcional" id="Dia" name="dia" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Dia.</div>
                 </div>

                 @*Dia Opcional*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="DiaOpcional">Dia Opcional</label>
                        <input type="text" class="form-control form-control-sa" asp-for="diaOpcional" id="Dia" name="dia" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Dia Opcional.</div>
                 </div>

                 @*Hora Opcional*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="DiaOpcional">Hora Opcional</label>
                        <input type="text" class="form-control form-control-sa" asp-for="horaOpcional" id="Dia" name="dia" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Hora Opcional.</div>
                 </div>

                 @*Nombre de Papas*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="NombrePapas">Nombre Papas</label>
                        <input type="text" class="form-control form-control-sa" asp-for="NombrePapas" id="nombrepapas" name="nombrepapas" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Nombre Papas.</div>
                 </div>

                  @*Email de Papas*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="NombrePapas">Email Papas</label>
                        <input type="email" class="form-control form-control-sa" asp-for="EmailPapas" id="nombrepapas" name="nombrepapas" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Nombre Papas.</div>
                 </div>

                 @*Tutor Recoger*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="Tutor Recoger">Tutor Recoger</label>
                        <input type="text" class="form-control form-control-sa" asp-for="TutorRecoger" id="tutor" name="tutor" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Tutor Recoger.</div>
                 </div>

                 @*Numero de Emergencia*@
                 <div class="col-md-4 form-group">
                        <label class="form-label" for="NumEmergencia">Numero de Emergencia</label>
                        <input type="text" class="form-control form-control-sa" asp-for="NumEmergencia" id="NumEmergencia" name="numeroEmergencia" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Numero de Emergencia.</div>
                 </div>

                @*Celular Tutor*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="Telefono">Celular del Tutor</label>
                    <input type="tel" class="form-control form-control-sa" data-inputmask='"mask": "(999) 999-9999"' data-mask asp-for="CelularTR" id="telefono" name="telefono" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese un numero Telefónico (Celular).</div>
                </div>


                @*Estudios*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="Estudios">Estudios</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Estudios" id="NumEmergencia" name="numeroEmergencia" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Estudios.</div>
                </div>

                @*Grado de Estudios*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="Grado de Estudios">Grado de Estudios</label>
                        <input type="text" class="form-control form-control-sa" asp-for="GradoEstudios" id="GradoEstudios" name="GradoEstudios" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Grado de Estudios.</div>
                </div>

                @*Escuelas Actuales*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="Escuela Actuales">Escuelas Actuales</label>
                        <input type="text" class="form-control form-control-sa" asp-for="EscuelaActuales" id="EscuelasActuales" name="EscuelasActuales" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Escuela Actuales.</div>
                </div>

                @*Actualmente Trabaja*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="Trabajas">Actualmente Trabaja</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Trabajas" id="Trabajas" name="Trabajas" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese si actualmente Trabaja.</div>
                </div>

                @*Lugar de Trabajo*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="lugartrabajo">Lugar Trabajo</label>
                        <input type="text" class="form-control form-control-sa" asp-for="LugarTrabajo" id="lugarTrabajas" name="lugarTrabajas" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Lugar de Trabajo.</div>
                </div>
                
                @*Conocimieno Actual*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="Cocimiento Actual">Conocimiento Actual</label>
                        <input type="text" class="form-control form-control-sa" asp-for="ConActual" id="ConocimientoActual" name="ConocimientoActual" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Conocimiento Actual .</div>
                </div>

                @*Instrumento*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="instrumento">Instrumento</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Instrumento" id="ConocimientoActual" name="ConocimientoActual" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Instrumento .</div>
                </div>

                @*Instrumento Casa*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="Instrimento casa">Instrumento en Casa</label>
                        <input type="text" class="form-control form-control-sa" asp-for="InstrumentoCasa" id="InstrumentoCasa" name="InstumentoCasa" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese Instrumento en casa .</div>
                </div>

                @*No. de Instrumento*@    
                <div class="col-md-4 form-group">
                        <label class="form-label" for="No. Instrumento">No. de Intrumento</label>
                        <input type="text" class="form-control form-control-sa" asp-for="NoInstrumento" id="NoInstrumento" name="NoInstrumento" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese No. Instrumento.</div>
                </div>

                @*Enteraste de Escuela*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="Esteraste Escuela">¿Te enteraste de esta escuela?</label>
                        <input type="text" class="form-control form-control-sa" asp-for="EnterasteEscuela" id="enterasteesc" name="enterasteesc" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese como se entero de EMAI.</div>
                </div>

                @*Interes Grno Musical*@
                    <div class="col-md-4 form-group">
                        <label class="form-label" for="interesgromusicas">¿Interes de Géneros Musicales?</label>
                        <input type="text" class="form-control form-control-sa" asp-for="InteresGnroMusical" id="interesgromusical" name="interesgromusica" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese sus intereses musicales.</div>
                </div>

                @*Cuales*@  
                <div class="col-md-4 form-group">
                        <label class="form-label" for="cuales">¿Cuales son sus intereses de Géneros Musicales?</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Cuales" id="interesgromusicalcuales" name="interesgromusicacuales" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese interes Musicales.</div>
                </div>

                @*Otro*@
                <div class="col-md-4 form-group">
                        <label class="form-label" for="otros">Otro</label>
                        <input type="text" class="form-control form-control-sa" asp-for="Otro" id="otro" name="otro" required />
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Ingrese otro.</div>
                </div>

                @*Clase Opcional*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="otros">Clase Opcional</label>
                    <input type="text" class="form-control form-control-sa" asp-for="ClaseOpcional" id="claseopcional" name="claseopcional" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese otro.</div>
                </div>
                
                 @*Descuento P*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="otros">Descuento</label>
                    <input type="text" class="form-control form-control-sa" asp-for="DescuentoP" id="descuentoP" name="descuentoP" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese otro.</div>
                </div>

                @*Descuento P*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="otros">¿El trato que Recibio fue amable?</label>
                    <input type="text" class="form-control form-control-sa" asp-for="amable" id="amable" name="amable" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese otro.</div>
                </div>

                @*Nombre del Recepcionista*@
                <div class="col-md-4 form-group">
                    <label class="form-label" for="otros">Nombre del Recepcionista</label>
                    <input type="text" class="form-control form-control-sa" asp-for="NombreRecepcionista" id="nombreRecepcionista" name="nombrerecpcionista" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Ingrese otro.</div>
                </div>

                @*Botones de guardar*@
                    <div class="col-md-6 form-group">

                        <button type="submit" class="btn btn-success btn-sm" ng-click="submitForm()" style="width:100% !important">Guardar Cambios</button>

                    </div>

                    <div class="col-md-6 form-group">
                    <a asp-action="Alumnos" asp-controller="Alumnos" class="btn btn-warning btn-sm" style="width:100% !important">Regresar</a>
                    </div>
          </div>
        </form>

        @*<a asp-action="agregarusuario" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-primary btn-sm">Nuevo Usuario </a>*@
    </div>
</div>

