
                        <div id="pagos-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                          
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="form-label">Folio</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Fecha</label>
                                    <input type="date" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                            @*     <div class="col-md-6 form-group">
                                    <label class="form-label">Fecha de pago</label>
                                    <input type="date" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div> *@

                            @*     <div class="col-md-6 form-group">
                                    <label class="form-label">SaldoPendiente</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div> *@

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Promoción</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label class="form-label">Mes</label>
                                    <input type="date" class="form-control form-control-sa"  required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label class="form-label">Clase opcional</label>
                                    <input type="text" class="form-control form-control-sa"  required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Horario</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Día</label>
                                    <input type="text" class="form-control form-control-sa"  required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Instrumento</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Costo de libro</label>
                                    <input type="text" class="form-control form-control-sa"  required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">¿Qué libro fue?</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label class="form-label">Atendio</label>
                                    <input type="text" class="form-control form-control-sa"  required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Inscripción</label>
                                    <input type="text" class="form-control form-control-sa" required id="Inscripcion"/>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label">Mensualidad</label>
                                    <input type="text" class="form-control form-control-sa" required id="Mensualidad"/>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>



                                <div class="col-md-3 form-group">
                                    <label class="form-label">Costo</label>
                                    <input type="text" class="form-control form-control-sa"  required id="Costo" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>


                                <div class="col-md-3 form-group">
                                    <label class="form-label">SubTotal</label>
                                    <input type="text" class="form-control form-control-sa" required />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label class="form-label">Iva</label>
                                    <input type="text" class="form-control form-control-sa" required id="IVA" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label class="form-label">Total</label>
                                    <input type="text" class="form-control form-control-sa" required id="Total" />
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo..</div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-success" style="width:100% !important">Guardar y pagar</button>
                                </div>
                                <div class="col-md-12 form-group">
                                    <a class="btn btn-warning " style="width:100% !important" onclick="stepper.previous()">Regresar</a>
                                </div>
                               
                               


                            </div>


                         
                        </div>