@{
    ViewData["Title"] = "Ver Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Comprobación</h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">

                        <div class="row">

                            <div class="col-md-1 form-group">
                                <label class="form-label">Filtros:</label>
                            </div>

                            <div class="col-md-4 form-group">
                                <div class="form-group">


                                    <input type="date" class="form-control form-control-sa" required />


                                </div>
                            </div>


                            <div class="col-md-4 form-group">

                                <div class="form-group">
                                   
                                    <select class="form-control select2" style="width: 100%;" required>
                                        <option selected disabled value="">Seleccionar Reporte</option>
                                        <option>Reporte1</option>
                                        <option>Reporte1</option>
                                        <option>Reporte1</option>
                                        <option>Reporte1</option>
                                        <option>Reporte1</option>
                                        <option>Reporte1</option>

                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                                </div>

                            </div>


                            <div class="col-md-3 form-group">

                                <a class="btn btn-dark btn-sm" style="width:100%">Buscar </a>
                            </div>

                        </div>


                        <table id="example1" class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Ingreso escuela </th>
                                    <th>Pago personal</th>
                                    <th>Pago gastos</th>
                                   

                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  




                                </tr>

                            </tbody>
                        </table>
                     
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

