

@{
    ViewData["Title"] = "Ver Historial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Reposición de clases</h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">

                        <div class="row">
                            <div class="col-md-8 form-group">
                                <div class="form-group">

                                    <select class="form-control select2" style="width: 100%;" required>
                                        <option selected disabled value="">Seleccionar por mes</option>
                                        <option>Enero</option>
                                        <option>Febrero</option>
                                        <option>Marzo</option>
                                        <option>Abril</option>
                                        <option>Mayo</option>
                                        <option>Junio</option>
                                        <option>Julio</option>
                                        <option>Agosto</option>
                                        <option>Septiembre</option>
                                        <option>Octubre</option>
                                        <option>Noviembre</option>
                                        <option>Diciembre</option>


                                    </select>
                                    <div class="valid-feedback">Válido.</div>
                                    <div class="invalid-feedback">Por favor rellene este campo.</div>

                                </div>
                            </div>



                         

                            <div class="col-md-4 form-group">
                                <a class="btn btn-dark btn-sm" style="width:100%">Buscar </a>
                            </div>

                        </div>


                        <table id="example1" class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>ID </th>
                                    <th>Nombre de alumno</th>
                                    <th>Clases</th>
                                    <th>Mes</th>
                                    <th>Monto</th>
                                    <th>Horario</th>
                                    <th>Teléfono</th>
                                    <th>Fecha de pago</th>
                                </tr>
                            </thead>
                            <tbody>

                                    <tr>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>


                                       
                                    </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

