@model Horario

@{
    ViewData["Title"] = "agregarhorario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Horario" method="post" class="needs-validation" novalidate>

            <input asp-for="IdHorario" type="hidden" />

            <div class="row">

                <div class="col-md-12 form-group">
                    <div class="form-group">
                        <label class="form-label">Día</label>
                        <input type="text" class="form-control form-control-sa" style="width: 100%;" name="Dia" id="Dia" asp-for="Dia" required>

                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor rellene este campo.</div>

                    </div>
                </div>


                <div class="col-md-6 form-group">
                    <button type="submit" class="btn btn-success btn-sm" style="width:100% !important">Guardar Cambios</button>
                </div>

                <div class="col-md-6 form-group">
                    <a asp-action="Horario" asp-controller="Horario" class="btn btn-warning btn-sm" style="width:100% !important">Volver a la vista </a>
                </div>

            </div>

        </form>

    </div>
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
            form.addEventListener('submit', (event) => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>