@model GastosDia

@{
    ViewData["Title"] = "agregargastodia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="GastosDia" method="post">

            <input asp-for="IdGastoDia" type="hidden" />

            <div class="mb-2">
                <label class="form-label">Fecha</label>
                <input type="date" class="form-control form-control-sa" asp-for="Fecha" />
            </div>
            <div class="mb-2">
                <label class="form-label">NoPedido</label>
                <input type="text" class="form-control form-control-sa" asp-for="NoPedido" />
            </div>
            <div class="mb-2">
                <label class="form-label">Proveedor</label>
                <input type="text" class="form-control form-control-sa" asp-for="Proveedor" />
            </div>
            <div class="mb-2">
                <label class="form-label">Descripcion</label>
                <input type="text" class="form-control form-control-sa" asp-for="Descripcion" />
            </div>
            <div class="mb-2">
                <label class="form-label">Cantidad</label>
                <input type="text" class="form-control form-control-sa" asp-for="Cantidad" />
            </div>
            <div class="mb-2">
                <label class="form-label">Subtotal</label>
                <input type="text" class="form-control form-control-sa" asp-for="Subtotal" id="Subtotal" disabled />
            </div>
            <div class="mb-2">
                <label class="form-label">Total</label>
                <input type="text" class="form-control form-control-sa" asp-for="Total" id="Total" disabled />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>

            <a asp-action="GastosDia" asp-controller="GastosDia" class="btn btn-warning btn-sm">Volver a la vista </a>

        </form>

        @*<a asp-action="agregarusuario" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-primary btn-sm">Nuevo Usuario </a>*@




    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Manejador de eventos para el cambio en la cantidad
            $("#Cantidad").change(function () {
                calcularTotales();
            });

            // Función para calcular los totales
            function calcularTotales() {
                var cantidad = parseFloat($("#Cantidad").val());

                var Subtotal = cantidad;
                var Total = Subtotal * 16 / 100 + Subtotal;

                $("#Subtotal").val(Subtotal.toFixed(2)); // Redondear a 2 decimales
                $("#Total").val(Total.toFixed(2));
            }

            // Llamada inicial para calcular totales al cargar la página
            calcularTotales();
        });
    </script>
    }
