@model HorarioVerano
@{
    ViewData["Title"] = "agregarhorarioVr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="HorarioVerano" method="post">

            <input asp-for="IdHorarioVerano" type="hidden" />

            @* Dia *@ 
            <div class="col-md-6 form-group">
                <div class="form-group">
                    <label class="form-label">Día</label>
                    <select class="form-control select2" style="width: 100%;" name="Dia" id="Dia" asp-for="Dia" required>
                        <option selected disabled value="">Escoger el día</option>
                        <option>Lunes</option>
                        <option>Martes</option>
                        <option>Miercoles</option>
                        <option>Jueves</option>
                        <option>Viernes</option>
                        <option>Sábado</option>


                    </select>
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>

                </div>
            </div>

            <div class="col-md-6 form-group">
                <label class="form-label">Hora</label>
                <input type="time" class="form-control form-control-sa" name="Hora" id="Hora" asp-for="Hora" required />
                <div class="valid-feedback">Válido.</div>
                <div class="invalid-feedback">Por favor rellene este campo.</div>
            </div>
   
            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>

            <a asp-action="HorarioVerano" asp-controller="HorarioVerano" class="btn btn-warning btn-sm">Volver a la vista </a>

        </form>

        @*<a asp-action="agregarusuario" asp-controller="Usuarios" asp-route-IdUsuario="0" class="btn btn-primary btn-sm">Nuevo Usuario </a>*@

    </div>
</div>

