<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/dist/css/login.css" asp-append-version="true">
</head>
<body>
    <div class="login-container">
        
        <div class="login-info-container">
            <img src="~/dist/img/emai_logo.svg" />
            <h1 class="title">Inicio de Sesión</h1>
            <div class="social-login">
               
               
            </div>
            <form class="inputs-container" action="@Url.Action("Login","Account")" method="post">
                <input class="input" name="Usuario" type="text" placeholder="Usuario">
                <input class="input" name="Contraseña" type="text" placeholder="Contraseña">
             
                <button type="submit" class="btn">login</button>
              
            </form>
        </div>
        <div class="image-container">  </div>  
    </div>
</body>
</html>
