@model PromocionesModelV1

@{
    ViewData["Title"] = "Agreagar Clase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="Guardar" asp-controller="Promosiones" method="post" class="needs-validation" novalidate>


            <div class="row">


                <input asp-for="IdPromociones" type="hidden" />

                <div class="col-md-4 form-group">
                    <label class="form-label" for="Nombre">Nombre Promocion</label>
                    <input type="text" class="form-control form-control-sa" asp-for="NombrePromocion" name="NombrePromocion" id="NombrePromocion" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>


                <div class="col-md-4 form-group">
                    <label class="form-label" for="ApellidoP">Porcentaje</label>
                    <input type="text" class="form-control form-control-sa" asp-for="Porcentaje" name="Porcentaje" id="Porcentaje" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>


                <div class="col-md-4 form-group">
                    <label class="form-label" for="ApellidoM">Activo</label>
                    <input type="text" class="form-control form-control-sa" asp-for="statePromocion" name="statePromocion" id="statePromocion" required />
                    <div class="valid-feedback">Válido.</div>
                    <div class="invalid-feedback">Por favor rellene este campo.</div>
                </div>



                <div class="col-md-12 form-group">
                    <button type="submit" class="btn btn-success" style="width:100% !important">Guardar</button>
                </div>

            </div>

        </form>



        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (() => {
                'use strict';

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation');

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms).forEach((form) => {
                    form.addEventListener('submit', (event) => {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            })();
        </script>


    </div>
</div>


